<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">UNAPEC-ExcelToMVC</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Compañía <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Index", "Company")">Sumario</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Customer", "Company")">Vendedores</a></li>
                            <li><a href="@Url.Action("Product", "Company")">Productos</a></li>
                            <li><a href="@Url.Action("Client", "Company")">Clientes</a></li>
                            <li><a href="@Url.Action("Sales", "Company")">Ordenes de Compra</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container body-content">
        @RenderBody()
        <hr />
    </section>
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - <a href="http://unapec.edu.do" target="_blank">UNAPEC</a> by JCordero</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
